/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #ff5858;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    margin-top: 80px;
}

.cuadro-centro {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 500px; 
    width: 100%;
    text-align: center;
}

.cuadro-centro h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

.cuadro-centro p {
    font-size: 1.2em;
    line-height: 1.6;
}

#fp1{
    width: 150px; 
    height: auto; 
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

#fp2{
    width: 200px;
    height: auto;
    float: right;
}

#fp3{
    width: 200px;
    height: auto;
    float: left;
}

#fp4{
    width: 100px;
    height: 100;
}


#cuadro1{
    text-align: right;
}

#cuadro_trabajo{
    text-align: left;
}
  
