/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,162,0,1) 50%, rgba(254,242,0,1) 100%);
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

.cuadro-centro {
    background-color: #ffffff; 
    padding: 4%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 500px; 
    width: 100%;
    text-align: center;
    margin-top: -10%
}

.cuadro-centro h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

.cuadro-centro p {
    font-size: 1.2em;
    line-height: 1.6;
}

#fp1{
    width: 150px; 
    height: auto; 
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

#fp2{
    width: 200px;
    height: auto;
    float: right;
}

#fp3{
    width: 200px;
    height: auto;
    float: left;
}

#fp4{
    width: 200px;
    height: auto;
}


#cuadro1{
    text-align: right;
}

#cuadro_trabajo{
    text-align: left;

}

#fp5{
    margin-left: 45%;
}

#fp6{
    float: left;
}

#fp7{
    float: right;
}

#fp8{
    float: left;
    width: 40%;
    height: auto;
}

#fp9{
    float: right;
    width: 40%;
    height: auto;
}

#cont_hobbies{
    text-align: left;
}
  

